<%= render "shared/header"%>


<main class="main">
  <div class="inner">
    <h1>Trips#index</h1>
    <%# ログインしているときは以下を表示する %>
      <%# <div class="greeting"> %>
        <%# こんにちは、 %>
        <%# <%= link_to "ユーザー名おやこ", root_path, class: :greeting__link%>
      <%# </div> %>
    <%# // ログインしているときは上記を表示する %>
    <div class="trips__wrapper">
      <%# trip作成機能実装後、部分テンプレートでtrips一覧を表示する %>
    </div>
  </div>
</main>


<%= render "shared/footer" %>