<%= render "shared/header"%>


<main class="main">
  <div class="inner">
    <h1>Trips#index</h1>
    <%= link_to "新しい旅行を作成する", new_trip_path, class: "post" %>
    <%# // headerに移したため削除ok.cssも消すこと！ %>
      <%# <div class="greeting"> %>
        <%# ようこそ、 %>
        <%# <%= link_to "ユーザー名おやこ", root_path, class: :greeting__link%>
      <%# </div> %>
    <%# // headerに移したため削除ok %>
    <div class="trips__wrapper">
      <%# trip作成機能実装後、部分テンプレートでtrips一覧を表示する %>
    </div>
  </div>
</main>


<%= render "shared/footer" %>