/* レイアウト全体 */
.layout-container {
  display: flex; /* Flexboxで横並び */
  height: calc(100vh - 100px); /* ヘッダーとフッターを除いた高さ */
}

/* サイドバー */
.sidebar {
  background-color: #2a3d96;
  color: #ffffff;
  padding: 20px 10px;
  width: 15%;
  text-align: center;
}

.sidebar h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* メニューリスト */
.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  margin-bottom: 15px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: black;
  color: #ffffff;
}

.menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* メインコンテンツ */
.main-content {
  background-color: #ffcd1c;
  flex: 4;
  padding: 20px;
  text-align: center;
}

.main-content h4 {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

.map-container {
  /* border: 1px solid #ffffff; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
}

.japan-map {
  max-width: 80%;
  height: auto;
}

/* 旅行一覧 */
.travel-list {
  background-color: #ffcd1c;
  width: 20%;
  padding: 20px;
  overflow-y: auto;
}

.travel-list h4 {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

.travel-items {
  list-style: none;
  padding: 0;
}

.travel-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
}

.travel-item p {
  margin: 0;
  font-size: 14px;
}

.travel-item p strong {
  font-weight: bold;
}

.status.planned {
  color: #ffffff;
  font-weight: bold;
  background-color: #ff5757;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

/* リンクのスタイル */
.travel-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.travel-item:hover {
  background-color: black;
  border-radius: 8px;
  color: #ffffff;
}
