<%= render "shared/header"%>

<div class="top-page-container">
  <div class="top-map-container">
    <!-- 日本地図の配置 -->
    <%= raw File.read(Rails.root.join('app/assets/images/japan_map.svg')) %>
  </div>

  <div class="app-description">
    <h1>
      <%= image_tag "logo.png", alt: "おやこたびロゴ", class: "top-logo" %> へようこそ！
    </h1>
    <p>
      家族旅行をもっと楽しく！もっと学びに!<br>
      子供と一緒に、「次はどこ行こう？」「前はどこ行ったっけ？」など楽しみながら旅行の計画をたてて地理への興味を持たせる。簡単な準備イベントから主体性や楽しむ気持ちを育む。<br>
      そんな家族旅行を子供の学びや成長につなげるアプリです。
    </p>

    <h2>アプリの特徴</h2>
    <ul>
      <li><strong>日本地図で旅行の記録:</strong> 旅行の情報を作成すると、日本地図が色付けされ、地理感覚を養うことができます。</li>
      <li><strong>準備イベント:</strong> 自分の荷物を自分で準備しよう！おやつの買い出しにいこう！いくらかかるの？旅行の計画を立てよう！<br>
      など子供が簡単に取り組める準備イベントで、主体性や楽しむ気持ちを育てます。</li>
    </ul>

    <h2>使い方</h2>
    <ol>
      <li>アカウントを作成してログインします。</li>
      <li>旅行計画を立て、行き先の都道府県を選択。</li>
      <li>準備イベントを使って子供に準備を任せてみましょう！</li>
    </ol>

    <p>さあ、今すぐ家族旅行を記録して、家族旅行をおやこで楽しみましょう！</p>
  </div>
</div>

<%= render "shared/footer" %>